body {
    padding-top: 5rem;
}

.calendar-room-row {
    height: 80px;
}

.calendar-timeslot-selectable {
    hyphens: auto;
}

@media (max-width: 1440px) {
    .calendar td {
        padding: .2rem !important;
    }

    .calendar th {
        padding: .4rem !important;
    }
}

.calendar-timeslot-selectable:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}

.calendar {
    table-layout: fixed;
    min-width: 960px;
}

.pre {
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}
